
:root {
    --primary-color: #ffffff;
    --secondary-color: #102b3f;
    --accent-color: #ff5400;
    --background-color: #024a6e;
    --text-color: #fff8f0;
    --heading-color: #2c3e50;
}

a {
    text-decoration: none;
    color: var(--text-color);
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: 'Zain', sans-serif;
}

p {
    color: var(--text-color);
    font-size: 18PX;
}

body {
    font-family: 'Merriweather', serif;
    max-width: 1200px;
    margin: auto;
    background-color: var(--background-color);
    padding: 20px;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    display: block;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50px;
    color: var(--primary-color);
    background-color: rgba(11, 3, 51, 0.877);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 2.8em;
}

.hero article {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 90%;
    background-color: rgba(15, 20, 95, 0.8);
    padding: 20px;
    border-radius: 8px;
}

.hero article img {
    float: right;
    width: 30%;
    height: auto;
    margin-left: 100px;
}

article p {
    color: var(--text-color);
}

/* Footer Layout */
footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

footer p {
    margin-left: 350px;
}

footer a{
    color: var(--primary-color);
}

footer a:hover{
    color:#f7442d;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.sociallinks img {
    width: 30px;
    height: auto;
}

/* Header Layout */
header {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    padding: 20px;
}

header img {
    width: 150px;
    grid-column: 1;
}

.nav-bar {
    grid-column: 2;
    justify-self: end;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-bar li {
    display: inline;
    font-size: larger;
}

/* History Section Layout */
.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.history h2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.history-item {
    background-color: darkblue;
    padding: 15px;
    border-radius: 5px;
}

.history-item h2 {
    font-size: 40px;
    margin: 0 0 10px;
}

.history-item p {
    font-size: 16px;
}

/* Adventures Section Layout */
.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 5px;
}

.adventures figure {
    text-align: center;
}

.adventures img {
    width: 100%;
    height: auto;
}

.adventures figcaption {
    margin-top: 5px;
    font-weight: bold;
}

.adventures h2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    padding: 10px;
    color: var(--secondary-color);
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #007bff;
    background-color: var(--primary-color);
}

.intro p{
    text-align: center;
}

form {
    display: grid;
    background-color: #ffffff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    
}



fieldset{
    display: grid;
    grid-gap: .2rem;
    margin: 1rem 0 1.5rem;
    padding: 30px 40px;
}

.form-item{
    display: grid;
    align-items: center;
    margin: 1rem;
}

h2 {
    font-size: 40px;
    color: #6fdbee;
    text-align: center;
}

input[type="radio"] {
    padding: 50px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"],
textarea,
select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    width: 100%;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #460781;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 5px;
}

.map {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--background-color);
    width: 100%;
    margin: 0 auto;
}
.map p{
    text-align: center;
    padding: 10px;
}
.map h2 {
    grid-column: 1 / -1;
    text-align: center;
    gap: 10px;
    background-color: var(--heading-color);
    padding: 15px;
    border-radius: 5px;
}


.team h2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    padding: 10px;
    color: var(--background-color);
}

.team p {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
    padding: 10px;
    color: var(--secondary-color);
}

.adventures img,
.team img {
    width: 200px; /* Set a fixed width */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensures image maintains aspect ratio but fits within the box */
    border-radius: 5px; /* Optional: Adds rounded corners */
}

.team figure {
    text-align: center;
}

.team img {
    width: 200px;
    height: auto;
}

.team figcaption {
    margin-top: 5px;
    font-weight: bold;
}
