.callout {
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(57, 57, 117);
	color: white;
}

.callout img {
	position: relative;
    float:right;
}

blockquote {
	
}

cite {
	
}