*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    padding: 20px;
    color: rgb(9, 4, 32);
}

nav {
    background-color: steelblue;
    padding:10px;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
}
main img {
    float: right;
    width: 150px;
    height:auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 900px;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 2px solid rgb(0,0,0, 0.3);
    padding: 1rem;
    background-color: lightgreen;
    color: white;
    position: relative;
}

aside h2{
    position:absolute;
    left: 155px;
}
aside img{
    width: 200px;
    height: auto;
}
footer{
    margin-top: 10px;
    border-top: 3px dashed white;
    text-align: center;
}

/* Class Selectors */

.box{
    margin: 1rem;
    padding: 1rem;
    background-color: aquamarine;
    color: rgb(19, 2, 51);
}

aside{
    width:30%;
    text-align: center;
}